<?xml version="1.0"?>

<configuration>

  <connectionStrings>
    <add
      name="quiz_appConnectionString"
      connectionString="Data Source=YASH-PC\SQLEXPRESS;Initial Catalog=quiz_app;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
	  <compilation debug="true" targetFramework="4.0"/>
  </system.web>

</configuration>